<div class="container">
  <h1>Lista de Perros</h1>

  <div *ngIf="dogs && dogs.length > 0">
    <table class="table">
      <thead>
        <tr>
          <th>ID Mascotas</th>
          <th>Imagen</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dog of dogs">
          <td>{{ dog.idMascotas }}</td>
          <td><img [src]="dog.message" ></td>
        </tr>
      </tbody>
    </table>

    <app-pagination
      [currentPage]="currentPage"
      [itemsPerPage]="itemsPerPage"
      [totalItems]="totalItems"
      (pageChange)="onPageChange($event)"
    ></app-pagination>
  </div>

  <p *ngIf="!dogs || dogs.length === 0">No se encontraron perros.</p>
</div>
