<div class="container">
  <h1>Lista de Perros</h1>

  <div *ngIf="dataSource.data.length > 0">
    <table mat-table [dataSource]="dataSource" class="table">

      <!-- Columna ID Mascotas -->
      <ng-container matColumnDef="idMascotas">
        <th mat-header-cell *matHeaderCellDef>ID Mascotas</th>
        <td mat-cell *matCellDef="let dog">{{ dog.idMascotas }}</td>
      </ng-container>

      <!-- Columna Imagen -->
      <ng-container matColumnDef="message">
        <th mat-header-cell *matHeaderCellDef>Imagen</th>
        <td mat-cell *matCellDef="let dog">
          <img [src]="dog.message" alt="Imagen de perro" width="100"> <!-- Ajusta el width según lo que necesites -->
        </td>
      </ng-container>

      <!-- Definición de filas de encabezado y cuerpo -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- Paginador -->
    <mat-paginator [length]="maxSize"
                   [pageSize]="5"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   (page)="pageChangeEvent($event)">
    </mat-paginator>
  </div>

  <p *ngIf="dataSource.data.length === 0">No se encontraron perros.</p>
</div>
